p {
	padding: 0px;	
	margin: 0px;
}


.XLargeHeader {
	font-size: 30px;
	color:#FFFFFF;
}

.LargeHeader {
	font-size: 25px;
	color:#FFFFFF;
}

.Header {	
	font-size: 20px;
	color:#FFFFFF;
}

.SubHeaderBold {	
	font-size: 15px;
	color:#FFFFFF;
	font-weight: bold;
}

.SubHeader {
	font-size: 15px;
	color: #FFFFFF;
}

.SmallSubHeader {
	font-size: 10px;
	color:#FFFFFF;
}

.UnderSubHeader {
	color: #FFFFFF;
}

.L10Padding {
	padding-left: 10px;
}

.L20Padding {
	padding-left: 20px;
}
